@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

:root {
    --desaturatedRed: hsl(0, 36%, 70%);
    --softRed: hsl(0, 93%, 68%);
    --darkGrayishRed: hsl(0, 6%, 24%);
    --Gradient1: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
    --Gradient2: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
}

html {
    padding: 0;
    margin: 0;
    height: auto;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

/* NAV */
.nav {
    width: 20%;
    padding: 4% 0 0 5%;
}

/* TITLE */
.title  {
    font-weight: 600;
    font-size: 80px;
    letter-spacing: 10px;
    color: var(--darkGrayishRed);
    width: 80%;
}
.title-hl {
    font-weight: 300;
    color: var(--desaturatedRed);
}

/* PARAGRAPH */
.text {
    font-weight: 400;
    color: var(--desaturatedRed);
    width: 80%;
    line-height: 30px;
    margin-top: -5%;
}

/* FORM */
.form {
    display: flex;
}
#email {
    border-radius: 30px;
    height: 50px;
    width: 72%;
    border: solid 1px var(--desaturatedRed);
    color: var(--desaturatedRed);
    padding-left: 5%;
}
.button {
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    border-radius: 30px;
    height: 54px;
    width: 15%;
    border: none;
    margin-left: -15%;
}
/* LAYOUT */
.main {
    display: flex;
    justify-content: space-between;
    height: auto;
    width: auto;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 5% 0 5%;
    width: 50%;
    height: 500px;
}
.right {
    background-image: url(./images/hero-desktop.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    z-index: -1;
    margin-top: -10%;
    width: 45%;
    height: 800px;
}